@font-face {
    font-family: "open_sans";
    src:    url("../../fonts/subset-OpenSans-Regular.woff2") format("woff2"),
            url("../../fonts/subset-OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sans";
    src:    url("../../fonts/subset-OpenSans-Bold.woff2") format("woff2"),
            url("../../fonts/subset-OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "open_sans";
    src:    url("../../fonts/subset-OpenSans-Light.woff2") format("woff2"),
            url("../../fonts/subset-OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style:  normal;
}

@font-face {
    font-family: "libre";
    src:    url("../../fonts/subset-ProzaLibre-Regular.woff2") format("woff2"),
            url("../../fonts/subset-ProzaLibre-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "libre";
    src:    url("../../fonts/subset-ProzaLibre-Bold.woff2") format("woff2"),
            url("../../fonts/subset-ProzaLibre-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

